<%= form_with(model: vendor) do |form| %>
  <% if vendor.errors.any? %>
    <div style="color: red" class="form-group">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
        <% vendor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control'%>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
